/* common 스타일 */
*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}

/* layout */
#container{ width: 12000px; margin: 0 auto;}

/* header 영역 */
header{ width: 100%; height: 100px; background: rgb(0,0,54);}
#logo{ float: left; width: 250px; height: 100px; padding-left: 20px; line-height: 100px;}
#logo h1{ font-size: 40px; color: #fff;}
/* 주메뉴 */
nav{ float: right; width: 900px; height: 100px; padding-top: 40px; }
#topMenu{ height: 60px; }
#topMenu > li{float: left; position:relative; }
#topMenu > li > a{display: block; color: white; padding: 20px 60px;  }

/* 서브메뉴 */
#topMenu > li > ul{ position: absolute; left: 20px; background: #ff0; width: 160px; display: none; }
#topMenu > li:hover > ul{ display: block; z-index: 10;}
#topMenu > li > ul > li{ padding: 10px 10px 10px 30px; }
#topMenu > li > ul > li > a{ font-size: 14px; padding: 10px; color: #000; }
#topMenu > li > ul > li > a:hover{ color: #f00; }